<h2>管理照片</h2><br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>權限</th>
      <th>功能</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= link_to(user.email, "/user/" + user.id.to_s) %>
        </td>
        <td>
          <% if user.admin? %>
            管理員
          <% else %>
            註冊玩家
          <% end %>
        </td>
        <td>
          <%= link_to("查看照片", "/user/" + user.id.to_s) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
